html {
  font-size: 15px;
  height: 100vh;
}

body {
  font-family: "Overpass", sans-serif;
  background: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1em;
}

.circle__container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: hsla(216, 12%, 54%, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
}

.rating {
  width: 100%;
}

.rating__numbers {
  margin: 2em 0;
}

.rating__input {
  display: none;
}

.rating__label {
  color: inherit;
  cursor: pointer;
}

/* .rating__input--selected {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
} */

.section__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: hsl(213, 19%, 18%);
  border-radius: 1.333em;
  padding: 1em 1.2em;
}

.rating__icon {
  width: 15px;
  height: 15px;
}

.heading {
  font-size: 1.5rem;
}

.description {
  font-size: 1rem;
  color: hsl(217, 12%, 63%);
}

.rating__numbers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.circle__container:has(input[type="radio"]:checked) {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.btn {
  font-weight: 700;
  cursor: pointer;
  border-radius: 100px;
  border-style: none;
  height: 45px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 1em;
}

.btn--orange {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 20%, 100%);
}

.thanks {
  display: none;
  text-align: center;
}

.thanks__image {
  margin: 1em 0 1em 0;
  width: 50%;
}

.thanks__rating {
  margin: 0 auto;
  background-color: hsla(216, 12%, 54%, 0.1);
  width: 70%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks__rating__label {
  width: 100%;
  color: hsl(25, 97%, 53%);
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */
.attribution {
  display: grid;
  justify-items: center;
  font-size: 0.733rem;
  text-align: center;
  margin-top: 1em;
}
.attribution a {
  display: inline;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
  main {
    padding: 0;
  }
  .section__card {
    width: 300px;
    height: unset;
    border-radius: 40px;
    padding: 20px 30px;
  }
  .rating__numbers {
    margin: unset;
  }
  .btn {
    height: 40px;
    margin-top: 2em;
  }
  .description {
    font-size: 0.9rem;
  }
  .circle__container {
    width: 50px;
    height: 50px;
  }
}
